<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="tictactoe.ZPM">
    <Module>
      <Name>tictactoe</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.Game.PKG"/>
      <FileCopy Name="python/" Target="${mgrdir}python/"/>
    </Module>
  </Document>
</Export>
